<section class="bottom">
    <span class="made-by">Made with <i class="fa fa-heart animated infinite pulse"></i> by <a target="_blank" href="https://www.linkedin.com/in/ilieionut">Ilie Gheorghe Ionuț</a> with help from <a target="_blank" href="https://digitalnation.ro/">digitalnation.ro</a>
</section>

<script src="https://kit.fontawesome.com/b6f9cf9709.js" crossorigin="anonymous"></script>

</body>
</html>

<style>
.bottom {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  position: static;
  bottom: 0;
}
.made-by {
  color: #f5f6fa;
  margin: 0 auto;
  text-align: center;
}
.made-by a {
  color: #f5f6fa;
  text-decoration: none;
}
.made-by a:hover {
  text-decoration: underline;
  color: #ef5350;
}
.fa-heart {
  color: #ef5350;
}
</style>