<%- include('../partials/header') %>
<header>
    <h1> We are happy to tell you our story </h1>
</header>
<div>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Perspiciatis possimus eum quidem laudantium porro. Beatae 
        magnam sunt facilis autem, sed, eaque, debitis praesentium possimus cum itaque doloremque eligendi odit quod!</p>
</div>

<%- include('../partials/footer') %>