<%- include('../partials/header') %>
<header>
    <title>Deleted all posts</title>
</header>
<div>
    <p>All posts were deleted</p>
    <a href="/admin/api/posts"> Go back to Home</a>
</div>

<%- include('../partials/footer') %>