<%- include('../partials/header') %>
<header>
    <title>Delete Post</title>
</header>
<div>
    <p>Post was deleted</p>
    <a href="/admin/api/posts"> Go back to Home</a>
</div>

<%- include('../partials/footer') %>