<%- include('../partials/header') %>
<link rel='stylesheet' href='/style-other-pages.css'/> 
</head>
<body>
<header>
    <title>Delete Post</title>
</header>
<div class="background-image">
<div class="container">
    <h3></h3>
    <h3>Post was deleted</h3>
    
    <a class="go-back-home" href="/"> Go back to Home</a>
    
</div>
</div>
<div class="pading-bottom">
    <p></p> 
</div> 
<%- include('../partials/footer') %>