<%- include('../partials/header') %>
<header>
    <title>Edit Post</title>
</header>
<div contenteditable="true">
    <ul>
        <li>
            Edit post title: <br><input type="text" name="title" value='<%= post.title %>'>
        </li>
        <li>
            Edit post content: <br><textarea name="message"><%= post.content %></textarea>
        </li>
    </ul>
    

</div>
<button type="button" id="submit-post-button">Submit Post</button>
<br>
<br>
<a href="/admin/api/posts"> Go back to Home</a>


<%- include('../partials/footer') %>