<%- include('../partials/header') %>
<<<<<<< HEAD

<div>
    <p>Page not found</p>
</div>

<%- include('../partials/footer') %>
=======
<div>
    <p>Page not found!</p>
</div>
<%- include('../partials/footer') %>
>>>>>>> acb948e66331317a3d2ef953e01b8ce46f476e3a
