<%- include('../partials/header') %>
<link rel='stylesheet' href='/style-other-pages.css'/> 
</head>
<body>
<div class="background-image">
<div class="container">
    <p>Page not found</p>
    <div class="go-back-home">
        <a href="/"> Go back to Home</a>
    </div>
</div>
</div>
<div class="pading-bottom">
    <p></p> 
</div> 
<%- include('../partials/footer') %>
