<%- include('../partials/header') %>
<section class="singlePostSection">
    <header>
        <h1><%= post.title %></h1>
    </header>
    <div>
        <%- post.content %>
    </div>
</section>

<%- include('../partials/footer') %>