<!-- @todo: De completat cu informații! -->
<%- include('../partials/header') %>
<header>
    <h1><%= post.title %></h1>
</header>
<div>
    <%- post.content %>
</div>
<%- include('../partials/footer') %>

