* { 
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html,
body{
    background-color:#fff;
    color: #888;
    font-family: 'Exo', "arial", sans-serif;
    font-weight: 300;
    font-size:20px;
    text-rendering:optimizeLegibility;
    overflow-x: hidden;
}
