    @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Pacifico&display=swap');
    * {
        box-sizing: border-box;
    }
    
    a {
        text-decoration: none;
    }
    
    a:hover {
        color: #EA7773;
    }
    
    body {
        text-align: center;
        background-color: #3C40C6;
        cursor: context-menu;
    }
    
    .logo-text {
        font-family: 'Pacifico', cursive;
        color: #EAF0F1;
        margin-bottom: 10px;
    }
    
    .post {
        max-width: 900px;
        padding: 10px 15px;
        margin: 25px auto;
        display: block;
        box-shadow: 1px 1px 10px #EAF0F1;
    }
    
    .post-title {
        font-family: 'Bree Serif', serif;
        color: #EAF0F1;
        font-weight: 500;
        font-size: 2rem;
        margin-top: -5px;
    }
    
    .post-content {
        font-family: 'Bree Serif', serif;
        color: #DAE0E2;
        font-size: 1rem;
    }
    
    .line-brake {
        width: 250px;
        height: 3px;
        display: block;
        background-color: #DAE0E2;
        margin: -13px auto;
        border-radius: 100%;
    }
    
    .click-icon {
        width: 15px;
    }
    
    .read-more {
        font-family: 'Bree Serif', serif;
        color: #DAE0E2;
        font-size: 2rem;
    }